<h1>New Article</h1>
<% if @new_article.errors.any? %>
    <h3>The article wasn't created as we encounterd the following errors</h3>
    <% @new_article.errors.full_messages.each do |message|%>
        <li>
            <ul><%=message %></ul>
        </li>
    <% end %>

<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f|%>

    <div>
        <%= f.label :title%>
        <div>
            <%= f.text_field :title%>
        </div>
    </div>
    <br>
    <div>
        <%= f.label :description%>
        <div>
            <%= f.text_area :description%>
        </div>
    </div>
    <br>
    <div>
        <%= f.submit %>
    </div>
<% end %>